<p id="notice"><%= notice %></p>

<h1>Falts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @falts.each do |falt| %>
      <tr>
        <td><%= link_to 'Show', falt %></td>
        <td><%= link_to 'Edit', edit_falt_path(falt) %></td>
        <td><%= link_to 'Destroy', falt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Falt', new_falt_path %>
